<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Blackhole.Server.References">
            <Component Id="cmpDotNetRdf" Directory="INSTALLFOLDER" Guid="{780192E9-27C0-42B9-A55A-84936AC6D004}">
                <File Id="filDotNetRdf" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\dotNetRDF.dll" />
            </Component>
            <Component Id="cmpHtmlAgilityPack" Directory="INSTALLFOLDER" Guid="{DE6558FC-3FD6-4F05-A886-21961641EF59}">
                <File Id="filHtmlAgilityPack" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\HtmlAgilityPack.dll" />
            </Component>
            <Component Id="cmpNewtonsoftJson" Directory="INSTALLFOLDER" Guid="{1CD2A7AB-A86F-4AC0-BF14-4FF07CFA1D42}">
                <File Id="filNewtonsoftJson" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpCityHash" Directory="INSTALLFOLDER" Guid="{B3055E89-DECE-4B58-86C8-B95128FF7721}">
                <File Id="filCityHash" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Data.HashFunction.CityHash.dll" />
            </Component>
            <Component Id="cmpHashFunctionCore" Directory="INSTALLFOLDER" Guid="{31267722-5089-4F4E-9AD2-25822CC9859F}">
                <File Id="filHashFunctionCore" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Data.HashFunction.Core.dll" />
            </Component>
            <Component Id="cmpHashFunctionInterfaces" Directory="INSTALLFOLDER" Guid="{BC8658EE-E9E0-4C1A-BB50-8E8E2AEA035B}">
                <File Id="filHashFunctionInterfaces" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Data.HashFunction.Interfaces.dll" />
            </Component>
            <Component Id="cmpNetHttpFormatting" Directory="INSTALLFOLDER" Guid="{AEE6E455-9EA4-42B9-A950-F3558E8EC5DC}">
                <File Id="filNetHttpFormatting" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Net.Http.Formatting.dll" />
            </Component>
            <Component Id="cmpWebCors" Directory="INSTALLFOLDER" Guid="{93A2112E-B8DC-4384-8BE7-33137683B852}">
                <File Id="filWebCors" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Web.Cors.dll" />
            </Component>
            <Component Id="cmpWebHttpCors" Directory="INSTALLFOLDER" Guid="{21C4E84D-F136-453B-B703-831A390BDE00}">
                <File Id="filWebHttpCors" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Web.Http.Cors.dll" />
            </Component>
            <Component Id="cmpWebHttp" Directory="INSTALLFOLDER" Guid="{EDC5CB17-2388-4720-969D-9D26680F066F}">
                <File Id="filWebHttp" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Web.Http.dll" />
            </Component>
            <Component Id="cmpWebHttpSelfhost" Directory="INSTALLFOLDER" Guid="{F4A71242-304A-435E-AAAE-B2853E0E97FE}">
                <File Id="filWebHttpSelfhost" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\System.Web.Http.SelfHost.dll" />
            </Component>
            <Component Id="cmpTopshelf" Directory="INSTALLFOLDER" Guid="{B827CDD4-F5EC-449F-B406-F7DC5DDB512D}">
                <File Id="filTopshelf" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\Topshelf.dll" />
            </Component>
            <Component Id="cmpVdsCommon" Directory="INSTALLFOLDER" Guid="{1C353DBF-04C8-42F9-9E22-B1E427D5B274}">
                <File Id="filVdsCommon" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\VDS.Common.dll" />
            </Component>
            <Component Id="cmpFleck" Directory="INSTALLFOLDER" Guid="{3659EEBF-CB7D-4247-9B4A-63E0D226BFB2}">
              <File Id="filFleck" KeyPath="yes" Source="$(var.Blackhole.Server.TargetDir)\Fleck.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>