<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Blackhole RDF Server</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="/blackhole/assets/bhapp.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/blackhole/assets/styles.css" rel="stylesheet"/>
</head>
<body ng-app="bh" ng-controller="bhHome">
    <header>
        Blackhole | a 128bit Hash Based RDF Server with SQL Server as a Virtualized Backing Store.
    </header>

    <section class="column">
        <h3>Syntax Checkers</h3>
        <ul>
            <li>
                <a href="QuerySyntax/">SPARQL QUERY syntax checker and normalizer.</a>
            </li>
            <li>
                <a href="UpdateSyntax/">SPARQL UPDATE syntax checker and normalizer.</a>
            </li>
            <!-- TODO store list -->
        </ul>
    </section>
    <section class="column">
        <h3>Existing Stores</h3>
        <table>
            <tr ng-repeat="st in D.stores">
                <td><b>{{st}}</b></td>
                <td><a  href="#" ng-href="{{'query/'+ st + '/'}}">Query</a></td>
                <td><a  href="#" ng-href="{{'update/'+ st + '/'}}">Update</a></td>
                <td><button ng-really-message="Any data is this store is removed. Are you sure?" ng-really-click="D.deletestore(st)">Delete</button></td>
            </tr>
        </table>
    </section>
    <section class="column">
        <h3>Create a new store</h3>
        <p>
            <input ng-model="D.newstore" ng-validate="D.newstore" />
            <button ng-click="D.addstore()">Add</button>            
        </p>
    </section>
    <section class="column">
        <b style="color: red;">{{D.errormessage}}</b>
    </section>

    <footer>
        Made for <a href="https://github.com/lercher/blackhole" title="sorce code">Blackhole</a>. Uses <a href="http://www.dotnetrdf.org/">dotNetRDF</a> as a core component.
    </footer>
</body>
</html>