<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Blackhole Syntax Checker</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="/blackhole/assets/bhapp.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/blackhole/assets/styles.css" rel="stylesheet"/>
</head>
<body ng-app="bh" ng-controller="bhHome">
    <header>
        Blackhole &ndash; a 128bit Hash Based RDF Server with SQL Server as a Virtualized Backing Store.
    </header>

    <section>
        <h3>Syntax Checkers</h3>
        <ul>
            <li>
                <a href="QuerySyntax/">Try our online SPARQL query syntax checker and normalizer.</a>
            </li>
            <li>
                <a href="UpdateSyntax/">Try our online SPARQL update syntax checker and normalizer.</a>
            </li>
            <!-- TODO store list -->
        </ul>
    </section>
    <section>
        <h3>Existing Stores</h3>
        <ul>
            <li ng-repeat="st in D.stores">
                <button ng-click="D.deletestore(st)">Delete</button>
                <a  href="#" ng-href="{{st + '/'}}">{{st}}</a>
            </li>
        </ul>
    </section>
    <section>
        <h3>Create a new store</h3>
        <p>
            <input ng-model="D.newstore" ng-validate="D.newstore" />
            <button ng-click="D.addstore()">Add</button>            
        </p>
    </section>
    <section>
        {{D.errormessage}}
    </section>

    <footer>
        Made for <a href="https://github.com/lercher/blackhole" title="sorce code">Blackhole</a>. Uses <a href="http://www.dotnetrdf.org/">dotNetRDF</a> as a core component.
    </footer>
</body>
</html>